*{
    padding: 0px;
    margin: 0px;
}

body{
    position: relative;
    background-color: aliceblue;
    background-position: center;
}

.container-Navvbar{
    position: sticky;
    background-color: cornflowerblue;
    background-position: center;
    text-align: right;
    height: 70px;
    top: 0px;
    z-index: 400;
}

.container-H3NV{
    position: relative;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    float: left;
    padding-top: 22px;
    margin-left: 40px;
}

.container-NavUL{
    position: relative;
    display: inline-flex;
}

.container-NavLI{
    position: relative;
    list-style-type: none;
    margin-top: 22px;
}

.container-LINKS{
    position: relative;
    text-decoration: none;
    padding: 30px;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.container-sectionSL{
    position: sticky;
    height: 630px;
    width: 100%;
}

.container-sectionSL1{
    position: sticky;
    height: 660px;
    width: 100%;
    background-color: burlywood;
}

.container-sectionSL2{
    position: sticky;
    height: 625px;
    width: 100%;
    background-color: darkcyan;
}

.container-H333{
    position: sticky;
    text-align: center;
    padding-top: 200px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.container-LOR{
    position: sticky;
    text-align: justify;
    font-size: 20px;
    top: 200px;
    font-family: cursive;
    align-items: center;
    align-self: center;
    align-content: center;
}